:root {
  --click: #7fa8c4;
  --primary: #E8F1F2;
  --darkblue: #13293D;
  --darkblue2: #314D68;
  --secondary: #000000;
  --animation: #006494;
  --ligthkgrey: #D3D3D3;
  --blueceledron: #247ba0;
  --delete: #FF0000;
  --reddark: #B30000;
  --white: #FFFFFF;
  --roxo: #CC4766;
  --new: #8B487E;
}

* {
    color: var(--secondary);
}

body {
  background-color: var(--ligthkgrey);
}