:root {
  --click: #7fa8c4;
  --primary: #E8F1F2;
  --darkblue: #13293D;
  --darkblue2: #13293B;
  --secondary: #000000;
  --ligthblue: #1b98e0;
  --animation: #006494;
  --ligthkgrey: #D3D3D3;
  --blueceledron: #247ba0;
  --delete: #FF0000;
}

* {
    color: var(--secondary);
}

body {
  background-color: var(--ligthkgrey);
}